@model DomainShop.Property

@{
    ViewBag.Title = "Detail";
}

@Scripts.Render("~/Scripts/lightview.js")
@Styles.Render("~/Content/lightview.css")

<div class="detail-main-info mdl-shadow--2dp">
    <div class="flex-row">
        <a href="~/Content/Images/1.jpg"
           class="lightview detail-info-image"
           data-lightview-group="mixed">
            <img src="../../Content/Images/1.jpg" />
        </a>

        @*@foreach (var item in Model.Images)
            {*@
        <a href="~/Content/Images/2.jpg"
           class="lightview"
           data-lightview-group="mixed"
           style="visibility: hidden;">Image 2</a>
        @*  *@
        <div class="flex-column main-info-prop">
            <p>Страна : @Model.Country</p>
            <p>Город : @Model.City</p>
            <p>Адрес : @Model.Address</p>
            <p>Спален : @Model.Bedrooms</p>
            <p>Ванных : @Model.Bathrooms</p>
            <p>Жилая площадь : @Model.LivArea</p>
            <p>Тип : @Model.Type</p>
        </div>
    </div>
    <div class="main-info-describe"><p>@Model.Describe</p></div>

    <form action="~/Basket/Buy">
        <input type="text" hidden="hidden" value="@Model.PropertyId" name="id" />
        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Подробнее о пивасике
        </button>
    </form>
</div>