@model IEnumerable<DomainShop.Property>

<style>
    .demo-card-wide.mdl-card {
        width: 512px;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>


<div class="search-results">
    @foreach (var i in @Model)
    {
        <div class="demo-card-wide mdl-card mdl-shadow--2dp property-desc-block">
            <div class="mdl-card__title" style="background: url('http://curated.ru/wp-content/uploads/2015/09/%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE-%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%BE%D0%B3%D0%BE-%D0%B4%D0%BE%D0%BC%D0%B0-armandale-1-%D0%BE%D1%82-mitsuori-01.jpg') center / cover;">
                <h2 class="mdl-card__title-text" style="color: red;">@i.Price P</h2>
            </div>
            <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris sagittis pellentesque lacus eleifend lacinia...
            </div>
            <div class="mdl-card__supporting-text">
                <p>Страна : @i.Country</p>
                <p>Город : @i.City</p>
                <p>Адрес : @i.Address</p>
                <p>Спальных комнат : @i.Bedrooms</p>
                <p>Ванных комнат : 1</p>
                <p>Общая площадь : 322</p>
                <p>Жилая площадь : @i.LivArea</p>
                <p>Тип недвижимости : @i.Type</p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Смотреть
                </a>
            </div>
        </div>
    }
</div>
