@model IEnumerable<DomainShop.Property>

@Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
@Scripts.Render("~/Scripts/jquery.formstyler.min.js")
@Styles.Render("~/Content/jquery.formstyler.css")
@Styles.Render("~/Content/material.css")

<style>
    .demo-card-wide.mdl-card {
        width: 512px;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>

<h1>Список желаемого</h1>

<div class="search-results">
    @foreach (var i in @Model)
    {
        <div class="search-card mdl-shadow--2dp ">
            <div class="mdl-card__title" style="background: url('http://curated.ru/wp-content/uploads/2014/04/дизайн-современного-дома-duk-от-студии-nico-van-der-meulen-02.jpg') center/cover;">
            </div>
            <div class="demo-card-wide mdl-card">
                <div class="card-main-info">
                    <div class="mdl-card__supporting-text">
                        <p>Страна : @i.Country</p>
                        <p>Город : @i.City</p>
                        <p>Адрес : @i.Address</p>
                        <p>Спален : @i.Bedrooms</p>
                        <p>Ванных : @i.Bathrooms</p>
                    </div>
                    <div class="price-block ">
                        <p>
                            @i.Price Р
                        </p>
                    </div>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <form action="~/Home/Detail">
                        <input type="text" hidden="hidden" value="@i.PropertyId" name="id"/>
                        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Подробнее
                        </button>
                    </form>
                    <form action="~/Basket/DeleteFromBasket">
                        <input type="text" hidden="hidden" value="@i.PropertyId" name="id" />
                        <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color: green">
                            Убрать из списка
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>