@model MvcShop.Models.Register


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/material.min.js")
@Styles.Render("~/Content/material.css")


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Регистрация</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="">
            <p class="reg-label">Имя</p>
            <div class="">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "reg-input" } })
                @Html.ValidationMessageFor(model => model.FirstName, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="reg-label">Фамилия</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "reg-input" } })
                @Html.ValidationMessageFor(model => model.LastName, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="reg-label">Логин</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "reg-input" } })
                @Html.ValidationMessageFor(model => model.Login, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="reg-label">E-mail</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "reg-input" } })
                @Html.ValidationMessageFor(model => model.Email, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="reg-label">Дата рождения</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "reg-input" } })
                @Html.ValidationMessageFor(model => model.Birthdate, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="reg-label">Пароль</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "reg-input" } })
                @Html.ValidationMessageFor(model => model.Password, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="reg-label">Повторите пароль</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "reg-input" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="reg-buttons">
                <input type="submit" value="Зарегистрироваться" class="reg-button" />
        </div>
    </div>
}
